header{
    height: 50px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position:fixed;
top: 0;
left: 0;
width: 100%;
align-items: center;
}

a{
color:white;
}

li{
    display: inline-block;

}